@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;500&display=swap');



html, body {
  height: 100%;
}


* {
  padding: 0; 
  margin: 0;
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
  align-items: center;

}


body {
  
    background: #FEEFFE; 
    font-family: 'Lora', serif;

}




.menu-bar {
  background: #C2D5AB;
  text-align: center;
}


.menu-bar ul {
  display: flex;
  list-style: none; 
  color: #fff;
  flex-wrap: wrap; 
}


.menu-bar ul li {
  margin: 13px;
  padding: 13px;
  flex: 1 0 120px;
  position: relative;
}


.active,
.menu-bar ul li:hover {
  background: #A6C186;
  border-radius: 5px;
}


.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.rectangle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

 .rectangle .uploadItem{
  background: white;
  border-radius: 8px;  
  text-align: center;
  padding: 40px;
  width: 600px;

}
.uploadItem p{
  color:#805280;
  font-size: 25px;
  font-weight: 500;
}


form input{
  font-size: 20px;
  color:#805280;
  border: 1px solid #A6C186;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 100;

}


label{
  font-size: 25px;
  font-weight: 400;
  color:#805280;
}

select {
  border: 1px solid #A6C186;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 400;
  color: #805280;
}
select option {
  color:#805280;
  background-color: white;
}

select option:hover{
  background-color: #FEEFFE;
}

button{
    margin-top:60px; 
    width: 350px;
    height: 50px;
    font-size: 22px; 
    font-weight: bold;
    color: #805280;
    background-color: #C2D5AB;
    border: 2px dashed #805280 ;
}


button:hover {
  background-color: #A6C186;
}


@media screen and (max-width: 480px) {

   .rectangle .uploadItem{
    width: 250px;
  }

  .uploadItem p{
    font-size: 20px;
  }
  
  
  form input{
    font-size: 20px;
    color:#805280;
    border: 1px solid #A6C186;
    border-radius: 5px;
    margin-bottom: 24px;
    font-weight: 100;
  
  }

  label{
    font-size: 20px;
    font-weight: 400;
    color:#805280;
  }
  
  select {
    border: 1px solid #A6C186;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #805280;
  }
  select option {
    color:#805280;
    background-color: white;
  }
  
  select option:hover{
    background-color: #FEEFFE;
  }
  
  form input,
  select,
  label,
  button {
    margin-bottom: 16px; 
  }
  button{
      margin-top:60px; 
      width: 250px;
      height: 70px;
      font-size: 22px; 
      font-weight: bold;
      color: #805280;
      background-color: #C2D5AB;
      border: 2px dashed #805280 ;
  }
  

}