@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200;500&display=swap');




* {
  padding: 0; 
  margin: 0;
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
}


body {
  background: #FEEFFE; 
  font-family: 'Lora', serif;
}




.menu-bar {
  background: #C2D5AB;
  text-align: center;
}


.menu-bar ul {
  display: flex;
  list-style: none; 
  color: #fff;
  flex-wrap: wrap; 
}


.menu-bar ul li {
  margin: 13px;
  padding: 13px;
  flex: 1 0 120px;
  position: relative;
}


.active,
.menu-bar ul li:hover {
  background: #A6C186;
  border-radius: 5px;
}


.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}








.theirName{
  text-align: center;
  color: #805280;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.itemOfClothing {
  flex-basis: calc(25% - 20px);
  text-align: center;
  color: #805280;
  margin-bottom: 20px;
}


.itemOfClothing img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}





@media screen and (max-width: 480px) {
    
  .itemOfClothing {
    flex-basis: calc(100% - 20px);
    text-align: center;
    color: #805280;
  }
}